{% with messages = get_flashed_messages() %}
{% if messages %}
    <script type="text/javascript">
        alert("{{messages[-1]}}");
    </script>
{% endif %}
{% endwith %}

<!DOCTYPE html>
<html lang="kr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--meta http-equiv="refresh" content="1"-->

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

        <title>G.One Keyboard IoT Control Site</title>

        <!-- SocketIO CDN -->
        

        <!-- SocketIO Script -->
    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='images/ico.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
                G.One 키보드 IoT 사이트
                </a>
                <button type="button" class="btn btn-danger btn-block" data-bs-toggle="modal" data-bs-target="#deleteModal">기기 삭제</button>
            </div>
        </nav>

        <div class="container">
            {% if id > 0 %}
                {% for i in range(0, id, 1) %}
                    <div class="row">
                        <div class="col border border-3 rounded m-3 p-3">
                            <div class="row">
                                <div class="col">
                                    <h1 class="text-start">{{name[i]}} 제어</h1>
                                </div>
                                {% if "Temp_Sensor" == device_type[i] and status[i] == "1" %}
                                    <div class="col">
                                        <h1 class="text-end">온도</h1>
                                    </div>
                                {% endif %}
                            </div>
                            {% if "Temp_Sensor" == device_type[i] %}
                                <div class="row">
                                    <div class="col">
                                        <h4>주변 온도를 측정하는 온도 센서입니다.</h4>
                                    </div>

                                    {% if status[i] == "1" %}
                                        <div class="col">
                                            <h4 class="text-end" id="temp"></h4>
                                        </div>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col">
                                        <h4>{{name[i]}} 제품의 전원을 제어하는 버튼입니다.</h4>
                                    </div>
                                </div>
                            {% endif %}

                            {% if "Controllable_LED" in device_type[i] and status[i] == "1" %}
                                <div class="d-flex justify-content-end mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <form action='sensorTrigger' method="POST">
                                                <label for="led_value" class="form-label">LED 밝기 조정</label>
                                                <input type='hidden' name='name' value='{{name[i]}}'>
                                                <input type='hidden' name='trigger' value='1'>
                                                <input type="range" class="form-control-range mb-3" id="led_value" name="led_value" min="25" max="100" step="25" value={{req_led_value[i]}}>
                                                <button type="submit" class="btn btn-danger">변경</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="row">
                                <div class="col">
                                    {% if status[i] == "0" %}
                                        <div class="d-flex justify-content-end">
                                            <form action='sensorTrigger' method="POST">
                                                <input type='hidden' name='name' value='{{name[i]}}'>
                                                <input type='hidden' name='trigger' value='1'>
                                                <input type='hidden' id="led_value" name='led_value' value=0>
                                                <button type="submit" class="btn btn-danger">켜기</button>
                                            </form>
                                        </div>
                                    {% elif status[i] == "1" %}
                                        <div class="d-flex justify-content-end">
                                            <div class="row">
                                                <div class="col">
                                                    <form action='sensorTrigger' method="POST">
                                                        <input type='hidden' name='name' value='{{name[i]}}'>
                                                        <input type='hidden' name='trigger' value='0'>
                                                        <input type='hidden' id="led_value" name='led_value' value='0'>
                                                        <button type="submit" class="btn btn-dark">끄기</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="d-flex justify-content-end">
                                            <div class="row">
                                                <div class="col">
                                                    <button class="btn btn-dark disabled">DB 로드 에러</button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="row">
                <div class="col border border-3 rounded m-3 p-3">
                    <h1>센서 추가</h1>
                    <h4>G.One 키보드가 지원하는 센서를 추가합니다.</h4>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-primary btn-block " data-bs-toggle="modal" data-bs-target="#addModal">추가</button>
                    </div>
                </div>
            </div>

        </div>

        <!-- Modal 관련 코드 시작 구간-->

        <!-- 기기 추가 Modal -->

        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-centered">
                <div class="modal-content">
                    <form id="add" action="add" method="POST" >
                        <div class="modal-header">
                            <h5 class="modal-title" id="addModalLabel">기기 추가</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="sensor_name" class="form-label">기기 이름</label>
                                <select id="sensor_name" name="sensor_name" class="form-select">
                                    {% for i in range(0, list_device_id, 1) %}
                                        <option id="sensor_name" name="sensor_name" value="{{list_device[i]}}">{{list_device[i]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="sensor_type" class="form-label">기기 종류</label>
                                <select id="sensor_type" name="sensor_type" class="form-select" aria-label="센서 상태 선택">
                                    {% for i in range(0, list_device_id, 1) %}
                                        <option id="sensor_type" name="sensor_type" value="{{list_device_type[i]}}">{{list_device_type[i]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" form="add" class="btn btn-primary">저장</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- 기기 제거 모달 -->

        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">기기 삭제</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="deleteIoT" method="POST" id="deleteModalForm">
                            <select name="del_iot_name" class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                {% if id > 0 %}
                                    {% for i in range(0, id, 1) %}
                                        <option value="{{name[i]}}">{{name[i]}}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger" form="deleteModalForm">삭제</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>






        </div>

        <!-- Modal 관련 코드 종료 구간-->

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
        -->

        <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>

        <script type="text/javascript" charset="utf-8">
            const socket = io("http://gone.gvsolgryn.de:8080");

            socket.on('connect', ()=>{
                socket.emit('socketioConnect', {data : 'SocketIO Connected'});
                console.log("SocletIO Connected")
            });

            socket.on('mqtt_message', (data)=>{
                var data = data;
                console.log("test");
            });

            socket.on('testio', ()=>{
                console.log("testio");
            });
        </script>

    </body>
</html>